.header {
  background-color: red;
  width: 100%;
  height: 70px;

  .title {
    flex-grow: 1;
  }

  .auth-info {
    display: flex;
    align-items: center;
  }
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
